<!DOCTYPE html>
<html lang="{{ metaLanguage }}">
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>
    <base href="{{ baseHref }}" />

    <meta content="{{ metaDescription }}" name="description" />
    <meta content="{{ metaKeywords }}" name="keywords" />
    <meta content="{{ metaPublisher }}" name="author" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="phpMyFAQ {{ phpmyfaqVersion }}" name="application-name" />
    <meta content="{{ metaRobots }}" name="robots" />
    <meta content="7 days" name="revisit-after" />

    <link href="{{ baseHref }}assets/dist/svenstyles.css" rel="stylesheet" />

    <link href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/favicon.ico" rel="shortcut icon" />
    <link href="{{ baseHref }}assets/themes/{{ tplSetName }}/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="{{ currentPageUrl }}" rel="canonical" />
  </head>
  <body dir="{{ dir }}">
    <nav class="p-3 text-bg-dark border-bottom fixed-top">
      <div class="container mt-2">
        <div class="row">
          <div class="col-md-2 align-content-center">
              <a
                href="{{ faqHome }}"
                id="phpmyfaq-logo"
                title="{{ header }}"
                class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
              >
                <img width="100%" alt="phpMyFAQ" src="{{ baseHref }}assets/themes/{{ tplSetName }}/img/logo.png" />
              </a>
          </div>
          <div class="col-md-8" style="position:relative">
            <div style="width: 100%;" class="topmenu">
              <ul class="nav col-lg-auto justify-content-start mb-md-0">
                <li class="pmf-nav-link {{ activeAllCategories }}">{{ allCategories }}</li>
                <li class="pmf-nav-link {{ activeAddContent }}">{{ msgAddContent }}</li>
                <li class="pmf-nav-link {{ activeAddQuestion }}">{{ msgQuestion }}</li>
                <li class="pmf-nav-link {{ activeOpenQuestions }}">{{ msgOpenQuestions }}</li>
              </ul>
            </div>
            <div style="position: absolute;top: 0;right:  0;z-index: 100;" class="searchcontainer">
              <!-- SEARCH -->
              <div class="pull-right search">
                <form action="{{ formActionUrl }}" id="search" method="post" role="search">
                  <i class="fa fa-search"></i>
                  <input
                    autocomplete="off"
                    type="text"
                    class="form-control form-control-lg searchbar-input"
                    id="pmf-search-autocomplete"
                    name="search"
                    placeholder="{{ searchBox }} ..."
                    maxlength="255"
                    value="{{ searchTerm }}"
                  />
                  <button data-toggle="button" type="button" class="searchclosed  btn btn-info btn-md">{{ searchBox }}</button>
                  <button type="submit" class="searchbar-submit btn btn-info btn-md">{{ searchBox }}</button>
                </form>
              </div>
              <div class="advsearch">
                <small class="form-text text-muted">
                  <a class="help" href="?action=search">{{ msgAdvancedSearch }}</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-2 align-content-center">
            <div class="dropdown pull-right ms-3 utilmenu ">
              <a
                href="#"
                class="d-block text-decoration-none dropdown-toggle text-white"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ msgLoginUser }}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small">
                [notLoggedIn]
                <li>{{ msgRegisterUser }}</li>
                <li>{{ msgLoginUser }}</li>
                [/notLoggedIn] [userloggedIn]
                <li>{{ msgUserControlDropDown }}</li>
                <li>{{ msgUserControl }}</li>
                <li>{{ msgUserRemoval }}</li>
                <li><hr class="dropdown-divider" /></li>
                <li>{{ msgLogoutUser }}</li>
                [/userloggedIn]
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- BREADCRUMB -->
    [breadcrumb]
    <section class="pmf-breadcrumbs">
      <div class="container">{{ breadcrumbHeadline }}</div>
    </section>
    [/breadcrumb]

    <!-- MAIN CONTENT -->
    <section class="my-3" id="wrapper">
      <div class="container">{{ mainPageContent }} {{ sidebar }}</div>
    </section>

    <footer class="pt-4 text-bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-md-0 mb-4">
            <h5 class="footer-heading">{{ writeTagCloudHeader }}</h5>
            <p class="card-text pmf-tag-cloud">{{ writeTags }}</p>
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
            <h5 class="footer-heading">{{ languageBox }}</h5>
            <form accept-charset="utf-8" action="{{ renderUri }}" method="post" class="subscribe-form">
              <div class="form-group d-flex">
                {{ switchLanguages }}
                <input name="action" type="hidden" value="" />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="w-100">
        <div class="container">
          <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-6 mb-0 text-white">{{ copyright }}</p>

            <ul class="nav col-md-6 justify-content-end w-100">
              <li class="nav-item">{{ faqOverview }}</li>
              <li class="nav-item">{{ showSitemap }}</li>
              <li class="nav-item">{{ msgGlossary }}</li>
              <li class="nav-item">{{ msgContact }}</li>
              <li class="nav-item">{{ privacyLink }}</li>
              <li class="nav-item">{{ cookiePreferences }}</li>
            </ul>
          </div>
        </div>
      </div>
      [debugMode]
      <div class="container">
        <h5 class="border-top">⚠︎ DEBUG MODE ENABLED ⚠︎</h5>
        <div class="row">
          <div class="col-12">
            <h6 class="text-danger">DATABASE QUERIES</h6>
            {{ debugQueries }}
          </div>
        </div>
      </div>
      [/debugMode]
    </footer>

    <script src="./assets/dist/frontend.js"></script>
  </body>
</html>
