h1.pmf-start-page {
  font-size: 48px;
  background: #083c83;
  background: linear-gradient(to right, var(--bs-primary) 0%, var(--bs-danger) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* homepage category tiles */
@media (min-width: 992px) {
  .row-cols-lg-3>* {
      width: 25%;
  }
}


div.card {
  border: none
}

div.col {
  display: flex;
  justify-content: left;

  div.card-cover {
    background-color: transparent;
    min-height: 4rem;

    a.cat {
      margin: 0; 
      position: absolute; 
      height:100%; 
      width: 100%; 
      display:block
    }

    a.btn:hover {
      color: initial;
      background-color: initial;
    }

    h3 {
      margin-right: 3rem;
      padding: 0;
    }
  }
}

div.cardWrapper {
  width: 100%;
  height: 100%;
}
div.cardWrapper:hover {
  transform: scale(102%);
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.4) !important;
}

div.catImg {
  background-size: contain;
  background-position: right top;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
}