$custom-colors: (
  'light': #bbc3c7,
  'dark': #2B3D4C,
  'primary': #5170a2,
  'secondary': #7091b3,
  'info': #96e9b0,
  'success': #45c17a,
  'warning': #ebd33c,
  'danger': #f92f2b,
);

ul.autocomplete { z-index: 10000;} 

div.search {width: 5rem;}

div.search form i, div.advsearch, div.search button.searchbar-submit {
  visibility:hidden;
}

div.utilmenu a.dropdown-toggle {
  white-space: normal;  
}
.card.newsitem {
  font-size: 80%;
  border: none;
  box-shadow: 0px 3px 5px 0px #ccc;
}
.card.newsitem .card-body {
  padding: 0;
}

ol.faqlist li small {
  margin-left: 1rem;
  font-size: 80%;
  display: block;
}

section#wrapper {
  position:relative; 
  margin-top: 8rem !important;
}

footer {
  position:relative; 
  margin-top: 6rem;
}